<div class="interests-container container-block">

  <h2 class="container-block-title">
    Contents
  </h2>

  <ul class="list-unstyled interests-list">
    <li><a href="#about">About Me</a></li>  
    <li><a href="#education">Education</a></li>
    <li><a href="#experiences">Experiences</a></li>
    <li><a href="#honors">Honors &amp; Awards</a></li>
    <!-- <li><a href="#memberships">Memberships</a></li> -->
    <li><a href="#projects">Projects</a></li>
    <li><a href="#skills">Skills</a></li>

  </ul>

</div><!--//interests-->